AI_ENGINE_API_KEY=your-api-key
AI_ENGINE_BASE_URL=https://55e8b585-6076-4992-a164-a5398899efdb-00-c56xlmp9cuq9.worf.replit.dev
AI_ENGINE_TELEMETRY_PROJECT_ID=017769d6-3316-4aed-b8a8-a4a28e272c2c
AI_ENGINE_TELEMETRY_SESSION_ID=
AI_ENGINE_TELEMETRY_RUNTIME_SESSION_ID=
AI_ENGINE_TELEMETRY_ITEM_ID=
AI_ENGINE_TELEMETRY_MONITOR_ID=
